* {
  font-family: "Poppins";
}

header {
  position: sticky;
  top: 0px;
  z-index: 2;
}
header .header-top-section {
  padding: 10px;
  background-color: #2157a7;
}
header .header-top-section .top-bar-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  /*MEDIA QUERY*/
}
@media (max-width: 770px) {
  header .header-top-section .top-bar-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
header .header-top-section .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*MEDIA QUERY*/
}
@media (max-width: 1000px) {
  header .header-top-section .top-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
header .header-top-section .top-content p {
  color: aliceblue;
  font-size: 12px;
}
header .header-top-section .top-content .top-bar-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header .header-top-section .top-content .top-bar-right h5 {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 10px;
}
header .header-top-section .top-content .top-bar-right h5 span {
  position: absolute;
  top: 7px;
  left: 13px;
}
header nav {
  background-image: linear-gradient(rgba(29, 25, 61, 0.8), rgba(18, 15, 48, 0.8));
}
header nav .logo {
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header nav .btn {
  border: none;
  border-radius: 5px;
  background-color: #4b7cd8;
  color: aliceblue;
  padding: 5px;
  width: 150px;
  font-size: 20px;
  margin-left: 50px;
  /*MEDIA QUERY*/
}
@media (max-width: 987px) {
  header nav .btn {
    margin-left: 0px;
  }
}
header nav .navbar-nav a {
  color: aliceblue;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
header .btn:hover {
  background-color: aliceblue;
  color: #4b7cd8;
  border: 1px solid #4b7cd8;
}

/*SHOWCASE-SECTION*/
.showcase-section {
  background-image: linear-gradient(rgba(58, 52, 236, 0.4), rgba(65, 59, 241, 0.4)), url(images/finance.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.showcase-section .showcase-content {
  padding: 120px 0 120px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase-section .showcase-content .content {
  text-align: center;
}
.showcase-section .showcase-content a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/*features-section*/
.features-section h5 {
  color: #2157a7;
}
.features-section .block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-section .block .underline {
  width: 200px;
  border: 1px solid lightgray;
}
.features-section .features-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  /*media query*/
  /*end media query*/
}
@media (max-width: 1200px) {
  .features-section .features-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 770px) {
  .features-section .features-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.features-section .features-content .content {
  background-color: aliceblue;
  padding: 20px;
}
.features-section .features-content span {
  background-color: #2157a7;
  padding: 20px;
}
.features-section .features-content h5 {
  color: #2157a7;
}
.features-section .feature-btn button {
  font-size: 17px;
  background-color: #2157a7;
  color: aliceblue;
  padding: 10px;
  width: 200px;
  border: none;
}

/*INTEGRATIONS-SECTION*/
.integration-section .block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.integration-section .block .underline {
  width: 200px;
  border: 1px solid lightgray;
}
.integration-section h5 {
  color: #2157a7;
}
.integration-section .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  /*media query*/
}
@media (max-width: 1000px) {
  .integration-section .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 730px) {
  .integration-section .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.integration-section .content img {
  -o-object-fit: cover;
     object-fit: cover;
}
.integration-section .content .integrate {
  padding: 10px;
  border: 1px solid lightgray;
  text-align: center;
}

/*FOOTER-SECTION*/
.footer-section {
  background-color: black;
  color: aliceblue;
}
.footer-section h5, .footer-section span {
  color: #2157a7;
}
.footer-section .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  /*media query*/
}
@media (max-width: 1000px) {
  .footer-section .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .footer-section .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.footer-section .content .Popular-Category p:hover, .footer-section .content .Our-Company p:hover, .footer-section .content .Help-Support p:hover {
  color: #2157a7;
}/*# sourceMappingURL=feature.css.map */