* {
    font-family: 'Poppins';

}

header {
    position: sticky;
    top: 0px;
    z-index: 2;

    .header-top-section {
        padding: 10px;
        background-color: #2157a7;

        .top-bar-menu {
            display: flex;
            flex-direction: row;
            gap: 40px;


            /*MEDIA QUERY*/
            @media(max-width: 770px) {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }

        .top-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            /*MEDIA QUERY*/
            @media(max-width:1000px) {
                display: flex;
                flex-direction: column;
                text-align: center;
            }

            p {
                color: aliceblue;
                font-size: 12px;
            }

            .top-bar-right {
                display: flex;
                flex-direction: row;
                gap: 20px;

                h5 {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    border: 2px solid white;
                    padding: 10px;

                    span {
                        position: absolute;
                        top: 7px;
                        left: 13px
                    }
                }
            }
        }
    }

    nav {
        background-image: linear-gradient(rgba(29, 25, 61, 0.8), rgba(18, 15, 48, 0.8));

        .logo {
            color: aliceblue;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        .btn {
            border: none;
            border-radius: 5px;
            background-color: #4b7cd8;
            color: aliceblue;
            padding: 5px;
            width: 150px;
            font-size: 17px;
            margin-left: 50px;

            /*MEDIA QUERY*/
            @media(max-width:987px) {
                margin-left: 0px;
            }
        }

        .navbar-nav {
            a {
                color: aliceblue;
                font-size: 18px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
    }

    .btn:hover {
        background-color: aliceblue;
        color: #4b7cd8;
        border: 1px solid #4b7cd8;
    }
}

/*SHOWCASE-SECTION*/
.showcase-section {
    background-image: linear-gradient(rgba(21, 20, 51, 0.6), rgba(21, 20, 51, 0.6)), url(images/partner2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .showcase-content {
        padding: 120px 0 120px;
        color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;

        .content {
            text-align: center;
        }

        .btn1 {
            border: none;
            border-radius: 10px;
            background-color: #4b7cd8;
            color: aliceblue;
            padding: 10px;
            width: 200px;
            font-size: 20px;
        }

        .btn2 {
            border: 2px solid #2157a7;
            border-radius: 10px;
            background-color: aliceblue;
            color: #4b7cd8;
            padding: 10px;
            width: 200px;
            font-size: 20px;
        }
    }

    .btn1:hover {
        background-color: aliceblue;
        border: 1px solid #4b7cd8;
        color: #2157a7;
    }

    .btn2:hover {
        background-color: #4b7cd8;
        border: #4b7cd8;
        color: aliceblue;
    }
}

/*CLIENTS-SECTION*/
.client-section {
    .client-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: -100px;
        margin-top: 20px;

        /*MEDIA QUERY*/
        @media(max-width:800px) {
            position: relative;
            top: 0;
            padding: 50px 0 50px;

        }

        @media(max-width:770px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .active {
            background-color: #4b7cd8;
            color: aliceblue;
            text-align: center;
            padding: 20px;
            width: 30%;

            /*MEDIA QUERY*/
            @media(max-width: 770px) {
                width: 100%;
            }
        }

        .system {
            background-color: aliceblue;
            color: #4b7cd8;
            text-align: center;
            padding: 20px;
            width: 30%;

            /*MEDIA QUERY*/
            @media(max-width: 770px) {
                width: 100%;
            }
        }

        .avialable {
            background-color: #4b7cd8;
            color: aliceblue;
            text-align: center;
            padding: 20px;
            width: 30%;

            /*MEDIA QUERY*/
            @media(max-width: 770px) {
                width: 100%;
            }
        }
    }
}

/*OVERVIEW-SECTION*/
.overview-section {
    p {
        color: gray;
    }

    .overview-btn {
        display: flex;
        flex-direction: row;
        gap: 20px;

        /*media query*/
        @media(max-width:560px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    .overview-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        /*MEDIA QUERY*/
        @media(max-width:1000px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .img-section {
            background-image: url(Images/ino.jpeg);
            background-size: cover;
            background-position: center;
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;

            /*MEDIA QUERY*/
            @media(max-width:1000px) {
                height: 400px;
            }

        }

        .overview {
            .list-section {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .btn3 {
                padding: 10px;
                width: 250px;
                background-color: orange;
                border-radius: 10px;
                border: none;
                font-size: 18px;
            }

            .btn4 {
                padding: 10px;
                width: 220px;
                background-color: #4b7cd8;
                color: aliceblue;
                border: none;
                font-size: 18px;
                border-radius: 10px;
            }
        }
    }
}

/*election-and-polls-section*/

.election-and-polls-section {
    h5 {
        color: #2157a7;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;

        .underline {
            width: 200px;
            border: 1px solid lightgray;
        }
    }

    .content {
        .election-and-polls {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;

            /*media query*/
            @media(max-width:1200px) {
                display: grid;
                grid-template-columns: 1fr;
                gap: 0px;
            }

            .img-section {
                background-image: url(Images/finance.jpg);
                background-position: center;
                background-size: cover;

                /*media query*/
                @media(max-width:1200px) {
                    height: 400px;
                }
            }

            .type-of-election-and-polls {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;

                p {
                    color: gray;
                }

                h4 {
                    color: #2157a7;
                }

                /*media query*/
                @media(max-width:770px) {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

/*features-section*/
.features-section {
    h5 {
        color: #2157a7;
    }

    .block {
        display: flex;
        justify-content: center;
        align-items: center;

        .underline {
            width: 200px;
            border: 1px solid lightgray;
        }
    }

    .features-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        /*media query*/
        @media(max-width:1200px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        @media(max-width:770px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        /*end media query*/

        .content {
            background-color: aliceblue;
            padding: 20px;
        }

        span {
            background-color: #2157a7;
            padding: 20px;
        }

        h5 {
            color: #2157a7;
        }
    }

    .feature-btn {
        button {
            font-size: 17px;
            background-color: #2157a7;
            color: aliceblue;
            padding: 10px;
            width: 200px;
            border: none;
        }
    }
}

/*INTEGRATIONS-SECTION*/
.integration-section {
    .block {
        display: flex;
        justify-content: center;
        align-items: center;

        .underline {
            width: 200px;
            border: 1px solid lightgray;
        }
    }


    h5 {
        color: #2157a7;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        /*media query*/
        @media(max-width:1000px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        @media(max-width:730px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        img {
            object-fit: cover;
        }

        .integrate {
            padding: 10px;
            border: 1px solid lightgray;
            text-align: center;
        }
    }

}


/*available-portals-section*/
.available-portals-section {
    background-image: linear-gradient(rgba(21, 20, 51, 0.6), rgba(21, 20, 51, 0.6)), url(images/invest6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;


}


/*security-section*/
.security-section {
    .block {
        .underline {
            width: 200px;
            border: 1px solid lightgray;
        }
    }

    h5 {
        color: #2157a7;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        /*media query*/
        @media(max-width:1060px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0px;
        }

        .img-section {
            background-image: url(Images/ino10.jpg);
            background-size: cover;
            background-position: center;
            border-radius: 10px;

            /*media query*/
            @media(max-width:1060px) {
                height: 400px;
            }
        }

        .security-content {
            .security-images {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                /*media query*/
                @media(max-width:700px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 20px
                }

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                }

                .img {
                    text-align: center;
                    background-color: aliceblue;
                    padding: 10px;
                }
            }
        }

    }

}


/*PRICING-SECTION*/
.pricing-section {
    .block {
        display: flex;
        justify-content: center;
        align-items: center;

        .underline {
            width: 200px;
            border: 1px solid lightgray;
        }
    }

    h5 {
        color: #2157a7;
    }

    .pricing-content {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        /*Media query*/
        @media(max-width:900px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }

        @media(max-width:600px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }

        .basic {
            border-radius: 10px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

            .basic-showcase {
                background-image: linear-gradient(rgb(230, 160, 31, 0.6), rgb(230, 125, 88, 0.6));
                padding: 10px;
                color: aliceblue;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .basic-btn {
                width: 150px;
                border: 2px solid orange;
                font-size: 17px;
                border-radius: 20px;
                padding: 10px;
                background-color: transparent;
            }

            text-align: center;
        }

        .basic-btn:hover {
            background-image: linear-gradient(rgb(230, 160, 31, 0.6), rgb(230, 125, 88, 0.6));
            color: aliceblue;
            border: none;
        }

        .plus {
            border-radius: 10px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

            .plus-showcase {
                background-image: linear-gradient(rgba(10, 63, 236, 0.4), rgba(50, 219, 224, 0.4));
                padding: 10px;
                color: aliceblue;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .plus-btn {
                width: 150px;
                border: 2px solid skyblue;
                font-size: 17px;
                border-radius: 20px;
                padding: 10px;
                background-color: transparent;
            }

            text-align: center;
        }

        .plus-btn:hover {
            background-image: linear-gradient(rgba(10, 63, 236, 0.4), rgba(50, 219, 224, 0.4));
            color: aliceblue;
            border: none;
        }

        .prenium {
            border-radius: 10px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

            .prenium-showcase {
                background-image: linear-gradient(rgba(83, 10, 90, 0.6), rgba(233, 93, 209, 0.6));
                padding: 10px;
                color: aliceblue;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .prenium-btn {
                width: 150px;
                border: 2px solid violet;
                font-size: 17px;
                border-radius: 20px;
                padding: 10px;
                background-color: transparent;
            }

            text-align: center;
        }

        .prenium-btn:hover {
            background-image: linear-gradient(rgba(83, 10, 90, 0.6), rgba(233, 93, 209, 0.6));
            color: aliceblue;
            border: none;
        }
    }


    .pricing-btn {
        button {
            background-color: #2157a7;
            color: aliceblue;
            padding: 10px;
            border: none;
            font-size: 17px;
        }
    }
}

/*testimonial-section*/
.testimonial-section {
    background-image: linear-gradient(rgba(21, 20, 51, 0.6), rgba(21, 20, 51, 0.6)), url(images/ino7.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: aliceblue;

    h5 {
        color: #2157a7;
    }
}


/*FOOTER-SECTION*/

.footer-section {
    background-color: black;
    color: aliceblue;

    h5,
    span {
        color: #2157a7;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        /*media query*/
        @media(max-width:1000px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        @media(max-width:600px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .Popular-Category,
        .Our-Company,
        .Help-Support {
            p:hover {
                color: #2157a7;
            }
        }
    }

}